@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  min-width: 350px;
}

body a {
  text-decoration: none;
  color: inherit;
}

body img {
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes menu-appear {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-appear {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes loader-disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader-disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes zindex {
  0% {
    z-index: 2;
  }
  100% {
    z-index: -1;
  }
}

@keyframes zindex {
  0% {
    z-index: 2;
  }
  100% {
    z-index: -1;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.localisation {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 10px 6px -8px #afafaf;
          box-shadow: inset 0px 10px 6px -8px #afafaf;
}

.localisation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 0;
}

.localisation form span {
  padding-right: 10px;
  color: #3e3e3e;
}

.localisation form input {
  background-color: transparent;
  width: 8em;
  border: none;
}

.localisation form input::-webkit-input-placeholder {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
}

.localisation form input:-ms-input-placeholder {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
}

.localisation form input::-ms-input-placeholder {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
}

.localisation form input::placeholder {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
}

.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  margin-bottom: 2em;
}

.call-to-action h2 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1.4em;
  width: 60%;
  text-align: center;
}

.call-to-action p {
  width: 80%;
  text-align: center;
  margin-bottom: 25px;
}

.call-to-action form {
  margin-bottom: 45px;
}

.main-content {
  max-width: 1280px;
  margin: auto;
}

.fonctionnement-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5%;
  margin-bottom: 2em;
}

.fonctionnement-block h2 {
  font-size: 1.4em;
}

.fonctionnement-block .fonctionnement-steps__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin-bottom: 1.5em;
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  -webkit-box-shadow: 3px 4px 6px #cecece;
          box-shadow: 3px 4px 6px #cecece;
}

.fonctionnement-block .fonctionnement-steps__restaurant span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 40px;
  color: #787878;
  font-size: 20px;
}

.fonctionnement-block .fonctionnement-steps__restaurant p {
  padding: 12px 25px;
  font-weight: 500;
}

.fonctionnement-block .fonctionnement-steps__restaurant:hover {
  background-color: #e7daf5;
}

.fonctionnement-block .fonctionnement-steps__restaurant:hover span {
  color: #9356DC;
}

.fonctionnement-block .fonctionnement-steps__restaurant::before {
  content: "1";
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -11px;
  padding: 3px 7px;
}

.fonctionnement-block .fonctionnement-steps__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin-bottom: 1.5em;
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  -webkit-box-shadow: 3px 4px 6px #cecece;
          box-shadow: 3px 4px 6px #cecece;
}

.fonctionnement-block .fonctionnement-steps__menu span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 40px;
  color: #787878;
  font-size: 20px;
}

.fonctionnement-block .fonctionnement-steps__menu p {
  padding: 12px 25px;
  font-weight: 500;
}

.fonctionnement-block .fonctionnement-steps__menu:hover {
  background-color: #e7daf5;
}

.fonctionnement-block .fonctionnement-steps__menu:hover span {
  color: #9356DC;
}

.fonctionnement-block .fonctionnement-steps__menu::before {
  content: "2";
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -11px;
  padding: 3px 7px;
}

.fonctionnement-block .fonctionnement-steps__dégustez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin-bottom: 1.5em;
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  -webkit-box-shadow: 3px 4px 6px #cecece;
          box-shadow: 3px 4px 6px #cecece;
}

.fonctionnement-block .fonctionnement-steps__dégustez span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 40px;
  color: #787878;
  font-size: 20px;
}

.fonctionnement-block .fonctionnement-steps__dégustez p {
  padding: 12px 25px;
  font-weight: 500;
}

.fonctionnement-block .fonctionnement-steps__dégustez:hover {
  background-color: #e7daf5;
}

.fonctionnement-block .fonctionnement-steps__dégustez:hover span {
  color: #9356DC;
}

.fonctionnement-block .fonctionnement-steps__dégustez::before {
  content: "3";
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -11px;
  padding: 3px 7px;
}

.restaurants-block {
  background-color: #eaeaea;
}

.restaurants-block h2 {
  font-size: 1.4em;
  margin: 0 5%;
  padding-bottom: 35px;
  padding-top: 35px;
}

.restaurants-block .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1120px;
}

.card {
  margin: 0 5%;
  margin-bottom: 20px;
  height: 250px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 3px 4px 6px #cecece;
          box-shadow: 3px 4px 6px #cecece;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card__img {
  height: 175px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__img .card__new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  padding: 6px 13px;
  color: #10a470;
  font-size: 13.5px;
  font-weight: 500;
  border-radius: 3px;
}

.card__photo {
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.card__content {
  height: 75px;
  border-radius: 0 0 25px 25px;
  position: relative;
}

.card__content h3 {
  margin: 15px 0 0 12px;
  font-size: 1.05em;
}

.card__content p {
  margin: 6px 0 0 12px;
}

.card__content span {
  position: absolute;
  right: 20px;
  top: 8px;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.card__content span .far {
  font-size: 23px;
  color: rgba(41, 41, 41, 0.877);
}

.card__content span .fas {
  bottom: 0.2px;
  font-size: 23px;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.card__content span:hover .far {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff79da), color-stop(89%, #9356dc));
  background: linear-gradient(0deg, #ff79da 30%, #9356dc 89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__content span:hover .fas {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff79da), color-stop(89%, #9356dc));
  background: linear-gradient(0deg, #ff79da 30%, #9356dc 89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.left-arrow {
  padding-top: 10px;
  position: absolute;
  left: 1.5em;
  font-size: 1.1em;
  visibility: visible;
}

.left-arrow .index-link {
  visibility: hidden;
}

.img-restaurant {
  width: 100%;
  min-width: 350px;
  height: 20em;
  position: absolute;
  z-index: -1;
}

.img-restaurant img {
  width: 100%;
  height: 100%;
}

.main-restaurant {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16em;
}

.main-restaurant .menu-main-content {
  width: 100%;
}

.main-restaurant .main-title {
  padding-top: 36px;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-restaurant h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7em;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 0;
}

.main-restaurant .heart-block {
  position: absolute;
  right: 40px;
  top: 39px;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.main-restaurant .heart-block .far {
  font-size: 23px;
  opacity: 0.7;
}

.main-restaurant .heart-block .fas {
  bottom: 0.2px;
  font-size: 23px;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.main-restaurant .heart-block:hover .far {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff79da), color-stop(89%, #9356dc));
  background: linear-gradient(0deg, #ff79da 30%, #9356dc 89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-restaurant .heart-block:hover .fas {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff79da), color-stop(89%, #9356dc));
  background: linear-gradient(0deg, #ff79da 30%, #9356dc 89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-restaurant section {
  margin-bottom: 13px;
}

.main-restaurant section h3 {
  margin-left: 4%;
  font-size: 1em;
  font-weight: normal;
  color: #3e3e3e;
  margin-bottom: 20px;
}

.main-restaurant section h3 .h3-border {
  border-bottom: 3px solid #99E2D0;
}

.main-restaurant .menu-formula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-restaurant .menu-meal {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 8px rgba(206, 206, 206, 0.7);
          box-shadow: 3px 3px 8px rgba(206, 206, 206, 0.7);
  position: relative;
  cursor: pointer;
}

.main-restaurant .menu-meal:nth-child(1) {
  -webkit-animation: menu-appear 2s both;
          animation: menu-appear 2s both;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.main-restaurant .menu-meal:nth-child(2) {
  -webkit-animation: menu-appear 2s both;
          animation: menu-appear 2s both;
  -webkit-animation-delay: 0.60s;
          animation-delay: 0.60s;
}

.main-restaurant .menu-meal:nth-child(3) {
  -webkit-animation: menu-appear 2s both;
          animation: menu-appear 2s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.main-restaurant .menu-meal:nth-child(4) {
  -webkit-animation: menu-appear 2s both;
          animation: menu-appear 2s both;
  -webkit-animation-delay: 0.30s;
          animation-delay: 0.30s;
}

.main-restaurant .menu-meal:nth-child(5) {
  -webkit-animation: menu-appear 2s both;
          animation: menu-appear 2s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.main-restaurant .menu-meal__check {
  background: #99E2D0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -2.8em;
  margin-left: 0.5em;
  padding: 0.9em;
  font-size: 1.5em;
  color: white;
  -webkit-transition: margin-right 400ms linear;
  transition: margin-right 400ms linear;
}

.main-restaurant .menu-meal__check .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.main-restaurant .menu-meal:hover > .menu-meal__check {
  margin-right: 0;
}

.main-restaurant .menu-meal:hover > .menu-meal__check > .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main-restaurant .menu-meal .menu-meal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 4%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2%;
}

.main-restaurant .menu-meal .menu-meal__title {
  width: 100%;
}

.main-restaurant .menu-meal .menu-meal__title h4 {
  margin-bottom: 0px;
  margin-top: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-restaurant .menu-meal .menu-meal__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-restaurant .menu-meal .menu-meal__price p {
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 12px;
}

.main-restaurant .menu-meal .menu-meal__price .subheading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.main-restaurant .menu-meal .menu-meal__price .moving-price {
  font-weight: 500;
}

.main-restaurant .btn-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 3.5em;
}

.main-restaurant .btn-center .btn {
  padding: 0.9em 2.9em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 2.2em;
  font-weight: 500;
  margin: 10px 0;
  padding-top: 10px;
}

footer {
  background-color: #353535;
  color: #fff;
  height: 175px;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  margin: 0 0 15px 20px;
  padding-top: 20px;
}

footer p {
  margin: 5px 0 8px 20px;
  font-size: 0.9em;
  font-weight: 400;
}

footer p i {
  font-size: 13px;
  width: 13px;
  padding-right: 8px;
}

@media screen and (min-width: 768px) {
  .left-arrow {
    visibility: hidden;
  }
  .left-arrow .index-link {
    visibility: visible;
    padding-left: 1em;
    color: #3e3e3e;
  }
  .fonctionnement-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2em;
  }
  .fonctionnement-steps__restaurant::before {
    bottom: 34px !important;
  }
  .fonctionnement-steps__menu::before {
    bottom: 34px !important;
  }
  .fonctionnement-steps__dégustez::before {
    bottom: 34px !important;
  }
  .restaurants-block {
    border-radius: 40px 40px 0 0;
  }
  .card-container.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .card-container.card-container .card {
    width: calc(50% - 3em);
    margin: 0 0 3em 0;
  }
  footer {
    height: 140px;
  }
  footer .footer-logo {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 5%;
  }
  footer .link-container p {
    margin: 5px 0 8px 0;
  }
  .main-restaurant {
    margin: 17.1em 5% 3% 5%;
    border-radius: 40px;
  }
}

@media screen and (min-width: 996px) {
  .fonctionnement-restaurants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement-restaurants-container .fonctionnement-block {
    margin: 0 3%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .fonctionnement-restaurants-container .fonctionnement-block h2 {
    margin: 0;
    padding: 35px 0;
  }
  .fonctionnement-restaurants-container .fonctionnement-block .fonctionnement-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .fonctionnement-restaurants-container .fonctionnement-block .fonctionnement-steps__restaurant {
    max-width: 271px;
  }
  .fonctionnement-restaurants-container .fonctionnement-block .fonctionnement-steps__menu {
    max-width: 271px;
  }
  .fonctionnement-restaurants-container .fonctionnement-block .fonctionnement-steps__dégustez {
    max-width: 271px;
  }
  .main-restaurant {
    margin: 17.1em 5% 3% 5%;
    border-radius: 40px;
  }
  .main-restaurant .formula-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-restaurant .formula-container section {
    width: 30%;
  }
  .restaurants-block {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    border-radius: 40px;
    margin: 0 3% 3% 2%;
  }
}

.btn {
  padding: 14px 17px;
  color: #fff;
  background: linear-gradient(171deg, #ff79da 0%, #9356dc 85%);
  border-radius: 30px;
  border: none;
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 6px #cecece;
          box-shadow: 3px 4px 6px #cecece;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.btn:hover {
  opacity: 0.85;
  -webkit-box-shadow: 5px 6px 8px #aeaeae;
          box-shadow: 5px 6px 8px #aeaeae;
}

.loading-spinner {
  background-color: #9356DC;
  height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 0.8;
  -webkit-animation: loader-disappear 2s 2s ease-in-out forwards, zindex 0s 4s forwards;
          animation: loader-disappear 2s 2s ease-in-out forwards, zindex 0s 4s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading-spinner p {
  font-family: 'Shrikhand', cursive;
  font-size: 3em;
  margin-top: 15vh;
  margin-bottom: 0;
  -webkit-animation: text-pop-up-top 3s forwards;
          animation: text-pop-up-top 3s forwards;
  position: fixed;
  z-index: 4;
  opacity: 1;
}

.loading-spinner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin-top: 15vh;
  z-index: 3;
}

.loading-spinner .dot {
  width: 15px;
  height: 15px;
  border: 3px solid #99E2D0;
  border-radius: 50%;
  margin: 0 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1200ms ease infinite 1000ms;
  animation: fx 1200ms ease infinite 1000ms;
}

.loading-spinner .dot:nth-child(2) {
  -webkit-animation: fx 1200ms ease infinite 1400ms;
  animation: fx 1200ms ease infinite 1400ms;
}

.loading-spinner .dot:nth-child(3) {
  -webkit-animation: fx 1200ms ease infinite 1800ms;
  animation: fx 1200ms ease infinite 1800ms;
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/*# sourceMappingURL=main.css.map */