.btn {
    padding: 14px 17px;
    color: #fff;
    background: linear-gradient(171deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 85%);
    border-radius: 30px;
    border: none;
    opacity: 1;
    cursor: pointer;
    @include box-shadow;
    transition: opacity 500ms;
    transition: box-shadow 1s;
    &:hover {
        opacity: 0.85;
        @include box-shadow-hover;
        }
}