.btn {
    padding: 14px 17px;
    color: #fff;
    background: linear-gradient(171deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 85%);
    border-radius: 30px;
    border: none;
    opacity: 0.9;
    cursor: pointer;
}