
// Choix de localisation //

.localisation {
    background-color: $medium-gray;
    box-shadow: inset 0px 10px 6px -8px rgb(175, 175, 175);
    form {
        @include flexbox-center;
        padding: 17px 0;
        span {
            padding-right: 10px;
            color: rgb(62, 62, 62);
        }
        input {
            background-color: transparent;
            width: 8em;
            border: none;
            &::placeholder {
                color: $dark-gray;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

// Call to action - Block //

.call-to-action {
    @include flexbox-center;
    flex-direction: column;
    background-color: $light-gray;
    h2 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: $h2-size;
        width: 60%;
        text-align: center;
    }
    p {
        width: 80%;
        text-align: center;
        margin-bottom: 25px;
    }
    form {
        margin-bottom: 45px;
    }
}

// Fonctionnement - Block //

.fonctionnement-block {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
    h2 {
        font-size: $h2-size;
    }
    
    &_restaurant {
        @include fonctionnement-choice;
        @include box-shadow;
        span {
            align-self: center;
            padding-left: 40px;
            color: $icon-gray;
            font-size: 20px;
        }
    
        p {
            padding: 12px 25px;
            font-weight: 500;
        }
    
        &:hover {
            background-color: #e7daf5;
            span {
                color: $color-primary;
            }
        }

        &::before {
            content: "1";
            @include fonctionnement-numbers;
        }
    }

    &_menu {
        @include fonctionnement-choice;
        @include box-shadow;
        span {
            align-self: center;
            padding-left: 40px;
            color: $icon-gray;
            font-size: 20px;
        }
    
        p {
            padding: 12px 25px;
            font-weight: 500;
        }
    
        &:hover {
            background-color: #e7daf5;
            span {
                color: $color-primary;
            }
        }

        &::before {
            content: "2";
            @include fonctionnement-numbers;
        }
    }

    &_degustez {
        @include fonctionnement-choice;
        @include box-shadow;
        span {
            align-self: center;
            padding-left: 40px;
            color: $icon-gray;
            font-size: 20px;
        }
    
        p {
            padding: 12px 25px;
            font-weight: 500;
        }
    
        &:hover {
            background-color: #e7daf5;
            span {
                color: $color-primary;
            }
        }

        &::before {
            content: "3";
            @include fonctionnement-numbers;
        }
    }
}